Django
Celery
django-qstash
django-celery-results
django-celery-beat
dj-database-url
django-redis
psycopg[binary]
jupyter
python-dotenv
langchain
langchain-community
langchain-brightdata
langchain[google-genai]
langgraph
redis